# .vscode folder for running C++ on vscode
*.vscode

# desktop.ini
*.ini

# competitive programming helper folder
*.bin
*.cph

# Executables
*.exe

# ignore my uncompleted queue
Uncompleted Queue/

Contest_playground/

# ignore some input.txt and output.txt
*.txt